@import url(http://fonts.googleapis.com/css?family=Crimson+Text:700,400italic,400|Merriweather+Sans:700);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.pure-button-small {
    font-size: 85%;
}

#layout {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 14em;
    margin-left: -16em;
    color: #444;
    border-right: 1px solid #ddd;
}

header {
    margin: 5em 2em;
    text-align: right;
}

.brand-title {
    color: #222;
    margin-bottom: 1em;
    font-weight: 100;
    letter-spacing: -2px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav a {
    display: inline-block;
    color: #444;
    margin-top: 0.5em;
    padding: 5px 2em;
    margin-right: -2em;
    transition: color 0.2s ease-in;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
    color: #ffa54f;
}

.content {
    margin: 2em 0;
    font-weight: normal;
    font-smooth: always;
    color: #444;
    font-family: "Crimson Text", serif;
}

.content a {
    color: #2980b9;
    transition: color 0.2s;
}
.content a:hover,
.content a:focus {
    color: #5cacee;
    text-decoration: underline;
}

.content p,
.content ul,
.content ol {
    font-size: 1.1em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    font-family: "Merriweather Sans", Helvetica, sans-serif;
    color: #222;
}

code {
    font-family: Inconsolata, monospace;
    font-size: 0.95em;
}

pre {
    padding: 1em;
    background-color: #efefef;
    border-radius: 2px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
}

.footnotes ol {
    padding-left: 0;
    list-style-position: inside;
}

.footnotes li p {
    display: inline;
}

.footnotes li:target {
    background-color: #fff68f;
}

footer {
    text-align: center;
    padding: 1em 0;
    font-size: 80%;
}

footer a {
    color: #ccc;
}

@media (max-width: 1100px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        border: none;
    }

    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 0 auto;
        position: static;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    .content {
        margin: 1em;
    }

    #layout {
        padding: 0;
    }
}