/*
 * ================== General ==================
 */

* {
  padding: 0;
  margin: 0;
}

body {
  font: normal normal 400 13px/1.2 "Helvetica Neue", Helvetica, Arials, sans-serif;
  color: #222;
  padding: 0 5px 5px 5px;
}

p {
  margin: 1em 0;
}

a img {
  border: 0;
}

blockquote {
  margin: 1em 0;
  margin-left: 5px;
  border-left: 4px solid #eee;
  padding-left: 10px;
}

pre code {
  font-size: 0.9em;
  font: Inconsolata, monospace;
  padding: 5px 10px;
  margin: 1em 0;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  display: block;
  overflow: auto;
}

#wrapper {
  width: 640px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.screen-reader-text {
  display: none;
}

/*
 * ================== Header ==================
 */

header {
  display: block;
  margin-bottom: 5px;
  padding: 5px 20px;
  border-bottom: 2px solid #333;
  line-height: 30px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  margin-left: 3px;
  padding: 2px 4px;
  text-decoration: none;
  color: #444;
}

nav ul li a:hover {
  color: #888;
  border-bottom: 2px solid #888;
}

#site-title {
  float: left;
}

h1#site-title {
  font-size: 1.1em;
}

#site-title a {
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6em;
  color: #333;
}

#site-title a:hover {
  color: #888;
}

/*
 * ================== Main Blocks ==================
 */

#main a {
  text-decoration: none;
  color: #001199;
}

#main a:hover {
  color: inherit;
}

#main ul {
  margin-left: 20px;
}

#content {
  padding: 15px 20px;
  font-size: 1.1em;
}

/*
 * ================== Content ==================
 */

ul.postlist {
  margin-left: 0 ! important;
  list-style: none;
}

ul.postlist li {
  margin: 3px 0;
}

.postlist span {
  color: #aaa;
}

.post h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.post h2 a {
  color: inherit ! important;
}

.post h2 a:hover {
  color: #001199 ! important;
}

.post .meta {
  color: #888;
}

.post .content {
  color: #333;
  font-family: Georgia, Palatino, 'Palatino Linotype', FreeSerif, serif;
  font-size: 1.15em;
  line-height: 1.5em;
  text-align: justify;
  padding-bottom: 10px;
  margin: 1em 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ddd;
}

.post .content h3 {
  font-family: Arial, Helvetica, FreeSans, sans-serif;
}

.page h2 {
  font-size: 2em;
  font-weight: 700;
}

.page h2 a {
  color: inherit ! important;
}

.page h2 a:hover {
  color: #001199 ! important;
}

.page .content {
  font-family: Georgia, Palatino, 'Palatino Linotype', FreeSerif, serif;
  font-size: 1.15em;
  line-height: 1.3em;
  text-align: justify;
  margin: 1em 0;
  margin-bottom: 20px;
}

/*
 * ================== Comments ==================
 */

#dsq-global-toolbar {
  display: none ! important;
}

#dsq-comments-title h3, #dsq-new-post h3 {
  font-size: 1.4em ! important;
  margin: 10px 0 ! important;
  text-transform: uppercase ! important;
  font-weight: 200 ! important;
}

.dsq-item-sort, .dsq-autheneticate-copy, .dsq-pagination {
  display: none ! important;
}

/*
 * ================== Footer ==================
 */

footer {
  display: block;
  padding: 6px 13px 7px 13px;
  font-weight: 200;
  border-top: 1px dotted #ccc;
  margin-top: 5px;
}

footer a {
  color: inherit ! important;
}

footer img {
  vertical-align: -3px;
}
