.post {

    .meta {
        text-transform: uppercase;
        color: #555;
        font-family: $sans;
    }

    h2 {
        font-size: 2.5em;
        color: #444;
    }

    .content {
        margin-top: 1em;
        text-align: justify;
        line-height: 1.5em;
    }

}