<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Thomas Gatzweiler" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$title$ &ndash; 7h0ma5.org</title>
    <link rel="stylesheet" type="text/css" href="/css/pure.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    <div class="pure-g-r" id="layout">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title">
              7h0ma5.org
            </h1>
          </hgroup>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/archive.html">Archive</a></li>
              <li><a href="/blogroll.html">Blogroll</a></li>
              <li><a href="http://thomasgatzweiler.com">Contact</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="pure-u-1">
        <div class="content">
          $body$
        </div>
        <footer>
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
              <li>&copy; Thomas Gatzweiler</li>
              <li><a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>
              <li><a href="/impressum.html">Impressum</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
