<div class="post-date">
$date$
</div>

<h1 class="post-title">$title$</h1>

<div class="post-content">
$body$
</div>

<div class="post-comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = "7h0ma5";
    var disqus_title = "$title$";
    var disqus_identifier = "$url$";
    var disqus_url  = "http://7h0ma5.org$url$";

    var disqus_load = function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    };

    if (navigator.doNotTrack == "yes" || navigator.doNotTrack == "1") {
      button = '<a class="pure-button pure-button-small"
                   style="display: inline-block; margin: 0 auto;"
                   href="#disqus_thread"
                   title="comments are not loaded because do-not-track is activated in your browser"
                   onclick="disqus_load();">Load Disqus Comments</a>';

      document.getElementById("disqus_thread").innerHTML = button;
    }
    else {
      disqus_load();
    }
  </script>
</div>
