---
layout: default
---
<article class="post">
  <h2 class="title">
    {{page.title}}
  </h2>
  <div class="meta">
    {{page.date | date: "%d.%m.%Y %H:%M"}}
  </div>
  <div class="content">
    {{content}}
  </div>
</article>
<div class="comments" id="disqus_thread"></div>
<script>
  var disqus_identifier = '{{page.id}}';
  var disqus_url = 'http://7h0ma5.org{{page.id}}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://7h0ma5.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>
Please enable JavaScript to view the
<a href="http://disqus.com/?ref_noscript">comments.</a>
</noscript>
